[flake8]
# E501 line too long
ignore = E501
max-line-length = 120
exclude =
    # imports that appear to be unused in route.py are necessary in order to provide classes that define handlers
    scheduler_service/validators/route.py,
    .venv
